.login-window {
  width: 300px;
  height: 550px;
  border-radius: 6px;
  border-inline: 1rem solid rgb(164, 164, 164);
  border: 1px solid gray;
}

.login-window {
  background: linear-gradient(180deg, #073D7D 0%, #3983A6 8%, #8DBBBB 15%, #ecf5f8 25%);
}

.login-window span {
  font-size: 12px;
}

.login-window .close-btn {
  cursor: pointer;
}

.login-window form {
  font-size: 12px;
}

.login-window .links span {
  font-size: 10px;
}

.logged-window-header {
  background: linear-gradient(180deg, #afced2 0%, #EBF2EB 30%, #FDFFFB 100%);
  box-shadow: 2px 2px 4px 0px #b9b9b9;
  border: 1px solid #b9b9b9;
}

.logged-window-body {
  box-shadow: 2px 2px 4px 0px #b9b9b9;
  border: 1px solid #b9b9b9;
}

input[type="search"] {
  font-size: 12px;
  border: 1px solid #b9b9b9;
}

input[type="search"]::placeholder {
  color: rgb(155, 155, 155);
}

summary {
  font-size: 12px;
  -webkit-user-select: none;
  user-select: none;
}

details {
  user-select: none;
}
