.App {
  background: url(../public/images/bliss.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.windows-app-icons>div:hover {
  cursor: pointer;
  background-color: #dddddd5e;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0px #cecece82;
}

.windows-app-icons span {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.887);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background: linear-gradient(0deg, #D4E8F1 0%, #E1E8EE 75%);
  border: 1px solid #b1b1b16b;
  box-shadow: inset 0px -1px #8d8d8d;
  font-size: 12px;
}

@media (max-width: 768px) {
  .chat-window {
    margin-inline: 10px;
  }

  .user-profile-pic {
    width: 65px;
  }

  .login-window,
  .search-button {
    display: none;
  }

  .send-button {
    height: 25px;
  }

  .send-button::after {
    content: "\21B5";
    font-size: 12px;
  }

  .chat-buttons {
    align-items: center;
  }

  .separator>span {
    line-height: 10px;
    margin-bottom: 5px;
  }

  pre,
  code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    max-width: 100%;
  }

  code {
    display: block;
    font-size: calc(0.8em + 0.2vw);
  }
}

@media (max-width: 375px) {
  .messages-block-row .col {
    width: 75%;
  }

  .messages-block-row .col-auto {
    width: 20%;
  }

  .user-profile-pic {
    max-width: 65px;
    width: 100%;
  }
}
